.lg-gold {
    background: linear-gradient(to top left, rgb(0, 66, 128), #025a1ff1, rgb(0, 255, 149), gold);
    background-size: cover;
    color: #fff;
    font-size: 1.2em;
}

.pixels {
    background: linear-gradient(to right, yellowgreen 5%, rgb(30, 205, 5) 17%, rgb(0, 155, 85) 20%, #025a1ff1 25%);
}
.percents {
    background: linear-gradient(to right, rgba(0, 64, 9, 0.89) 2em, #025a1ff1 3em, rgb(6, 162, 79) 7em, rgba(60, 200, 70, 0.89) 12em);
}
.negative {
   background: linear-gradient(to right, rgb(167, 235, 135) -50%, #025a1ff1 150%);
}

.gold {
    background: linear-gradient(orangered, gold);
}