/* Image */

.image.featured {
    display: block;
}

.image.featured img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 300;
    line-height: 1.75em;
    text-transform: uppercase;
}

/* container */

.container {
    width: 90%;
}

/* wrapper */

.wrapper.special-alt {
    text-align: center;
}

/* order */

#order {
    color: #fff;
    text-align: center;
    background-color: #645862;
}



/* ==============padding================= */
/* wrapper */

.wrapper {
    padding: 5em;
}

#main {
    padding: 7em 0;
}

.wrapper {
    padding: 5em;
}

.wrapper.style1 {
    padding: 0;
}
#order {
    padding: 5em;
}

header.major {
	padding-bottom: 0em;
}

footer.major {
    padding-top: 2em;
}




/* ==============margin================= */

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    margin-bottom: 5em;
}

.wrapper.style2.special-alt footer{
	margin-top: 1em;
}

#order header {
    margin-bottom: 2em;
}

.image.featured {
    margin: 2em 0.5em 2em 0.5em;
}

.image.featured img {
    margin: 0 auto;
}



/* ==============border================= */
#main.a {
    border-bottom: dotted 1px;
}

#main.a:hover {
    border-bottom-color: transparent;
}

.image {
    border: 0;
    position: relative;
}
.wrapper.style2 .button.special {
    border-color: #fff;
    color: rgb(52, 27, 43);
}


/* banner */
#banner {
    color: #fff;
    text-align: center;
    padding: 6em 0;
    background-attachment: scroll, scroll, scroll, fixed;
	background-color: #645862;
	background-image: url("../images/3.jpg");
	background-position: bottom left, bottom right, top left, top center;
	background-repeat: no-repeat, no-repeat, repeat, no-repeat;
	background-size: cover;
}

#banner .inner {
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 3em;
    background: rgba(52, 27, 43, 0.5);
}

#banner .inner header {
    display: inline-block;
    padding: 3px 0 3px 0;
    margin: 0 0 2em 0;
    border-bottom: solid 2px;
	border-top: solid 2px;
}

#banner .inner header h2 {
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 0.2em;
    padding-left: 0.05em;
    margin: 0;
    border-bottom: solid 2px;
    border-top: solid 2px;
    position: relative;
}

#banner .inner p {
    letter-spacing: 0.1em;
    margin: 0;
}

#banner .inner p a {
    color: inherit;
    font-weight: 400;
    text-decoration: none;
}

#banner .inner footer {
    margin: 2em 0 0 0;
}

/* Button*/

.button.special {
    background: #229922;
    border-color: #229922;
    color: #fff !important;
}
.button {
    border: solid 1px;
    color: inherit;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    letter-spacing: 2px;
    min-width: 18em;
    padding: 0 0.75em;
    line-height: 3.75em;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background: rgba(188, 202, 206, 0.15);
    border-color: inherit;
}

.button.special:hover {
    background: #96dad1 !important;
    border-color: #96dad1 !important;
}

.wrapper.style2 .button:hover {
    background: rgba(255, 255, 255, 0.15) !important;
}

.wrapper.style2 .button.special:hover {
    border-color: inherit !important;
    color: #fff !important;
} 


/*============ List =================*/

ul.buttons li {
    display: block;
    padding: 1em 0 0 0;
}

ul.buttons li {
    padding: 0;
}

ul.buttons.vertical li:first-child {
    padding: 0;
}

ul.buttons:last-child {
    margin-bottom: 0;
}

ul.icons {
    cursor: default;
}

ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding-left: 0.5em;
}

ul.icons li:first-child {
    padding-left: 0;
}

ul.buttons {
    cursor: default;
}

ul.buttons:last-child {
    margin-bottom: 0;
}

ul.buttons li {
    display: inline-block;
    padding: 0 0 0 1.5em;
}

ul.buttons.vertical li {
    display: block;
    padding: 1.5em 0 0 0;
}



.image:before {
    background: url("../images/overlay.png");
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0%;
    width: 100%;
    border-radius:10px; 
    
}


/* Wrapper */

.wrapper.style2.special-alt{
    background-color: #229922;
    background-image: url("../images/4.jpg");
    background-size: cover;
	color: #fff;
	font-size: 1.5em;
}




/* Paralax */

.bg1{
    background-image: url(../images/2.jpg);
}

.bg2{
    background-image: url(../images/3.jpg);
}

.bg3{
    background-image: url(../images/4.jpg);
}

.bg {
    background-size: cover;
    background-attachment: fixed;
    height: 30vh;
    width: 100%;
}
