/*- Footer -*/

.footer {
    width: 100%;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #717171;
	text-align: center;
}

.footer .footer-socials a {
	display: inline-block;
	background-color: #002e5b;
	color: #fff;
	font-size: 20px;
	line-height: 45px;
	width: 45px;
	height: 45px;
}

.footer {
	padding: 0;
	border-top: 1px solid #CECECE;
}

.footer .footer-socials {
	margin: 60px 0 20px;
}

.footer .footer-socials a {
	margin-right: 5px;
	border-radius: 50%;
}

.footer .footer-bottom {
	padding: 10px 0 40px;
}

.footer .footer-socials a:hover {
    background-color: #fed136;
    color: #002e5b;
}



/* special */

section.special, article.special {
    text-align: center;
}

header.special {
    position: relative;
    text-align: center;
    padding-top: 5.5em;
    margin-bottom: 4em;
}
header.special h2 {
	font-size: 2em;
	margin-bottom: 0;
	margin-bottom: 0;
}

header.special h2 + p {
    margin-bottom: 0;
    padding-top: 1.5em;
} 

/* major */

header.major {
	font-size: 2em;
}

.about{
	margin: 0 auto;
}

/* Icon */

.icon {
	text-decoration: none;
	text-align: center;
    position: relative;
}

.icon.featured {
    cursor: default;
    display: block;
    margin: 0 0 1.5em 0;
    opacity: 0.35;
    text-align: center;
}

.icon.featured:before {
    font-size: 5em;
    line-height: 1em;
}

.icon > .label {
    display: none;
}
