  
body {
    margin: 0;
    color: #2e3440;
    font-size: 1rem;
    line-height: 1.5;
}

ol, ul {
	list-style: none;
}

/* Typography */


h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 0.75 0.5;
    font-weight: 500;
}
  
h1 {
    font-size: 2.4em;
}
  
h2 {
    font-size: 1.8em;
}
  
h3 {
    font-size: 1.6em;
}
  
strong {
    font-weight: 700;
}

/* Navigation */

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


hr {
    border-top: solid 1px rgba(124, 128, 129, 0.2);
    border: 0;
    margin-bottom: 1.5em;
}

.cf {
    clear: both;
    display: block;
    content: '';
}
