/* Generic */

html {
    font-size: 71.42857%; 
}

body {
    font-size: 1.4em;
    line-height: 1.75em;
    font-family: Karma, sans-serif;
}

h1 {
    font-size: 2.4em; 
}

a {
    text-decoration: none;
}

p, blockquote {
    margin: 0 0 2em 0;
}

img {
    display: block;
}
